# Dépendances Node.js
node_modules/
**/node_modules/

# Builds / Dist
dist/
build/
out/
.angular/
.next/
.cache/

# Environnement
.env
.env.*.local
*.env

# Logs
logs/
*.log
npm-debug.log*

# Couverture de tests
coverage/
.nyc_output/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Divers
backend/tsconfig.tsbuildinfo
